
WPFDemo/\.vs/Supercharger/WPFDemo/codemap\.dat

WPFDemo/\.vs/Supercharger/WPFDemo/global_history\.dat

WPFDemo/\.vs/Supercharger/WPFDemo/workbench\.dat

WPFDemo/packages/Rx-XAML\.2\.2\.5/Rx-XAML\.2\.2\.5\.nupkg

WPFDemo/packages/MaterialDesignColors\.1\.1\.3/lib/net45/MaterialDesignColors\.dll

WPFDemo/packages/MaterialDesignColors\.1\.1\.3/lib/net45/MaterialDesignColors\.pdb

WPFDemo/packages/MaterialDesignColors\.1\.1\.3/MaterialDesignColors\.1\.1\.3\.nupkg

WPFDemo/packages/MaterialDesignThemes\.2\.3\.0\.823/lib/net45/MaterialDesignThemes\.Wpf\.dll

WPFDemo/packages/MaterialDesignThemes\.2\.3\.0\.823/lib/net45/MaterialDesignThemes\.Wpf\.pdb

WPFDemo/packages

WPFDemo/WPFDemo/bin/Debug/

WPFDemo/WPFDemo/obj/Debug/TempPE/

WPFDemo/WPFDemo/obj/Debug/
